flask
streamlit
requests
python-dotenv
google-generativeai
numpy==1.26.4
pandas
plotly
scikit-learn
textblob
openai
gTTS
opencv-python-headless
mediapipe==0.10.9
tensorflow-cpu==2.15.0
pydub
SpeechRecognition
flask-cors
protobuf==3.20.3
